:root {
    /* Primary Colors */
    --color-main: #eee;
    --color-bg: #F5F4F6;

    /* Secondary colors */
    --color-accent: #F5F4F6;
    --color-accent-2: #EFEDFF;
    --color-accent-3: #E1F5FE;

    /* Button colors */
    --color-hover: rgba(102,177,241,0.8);;
    --color-btn-secondary: #FFFFFF;
    --color-btn-secondary-hover: #FFFFFF;

    /* Text colors */
    --color-text: #000;
    --color-text-2: #8E8E8E;
    --color-text-hover: #fff;
}